ul::-webkit-scrollbar {
    width: 6px;
  }
  
  ul::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 10px;
  }
  
  ul::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  