.scrollCard {
    overflow-x: auto;
    padding-bottom: 30px;
    scrollbar-width: thin;
    scrollbar-color: #F97316 #e5e7eb;
  }
  
  .scrollCard::-webkit-scrollbar {
    height: 4px;
  }
  
  .scrollCard::-webkit-scrollbar-thumb {
    background-color: #9ca3af; 
    border-radius: 4px;
  }
  
  .scrollCard::-webkit-scrollbar-track {
    background: #e5e7eb;
  }
  